<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice using Axios api</title>
    <link rel="stylesheet" href="style/main.css">
</head>
<body>
    <div class="container">
        <h1>Lets find something you want to do ✌️</h1>
        <form action="/" method="POST" class="form" id="form">
            <select name="type" class="form-select">
                <option value="" data-display="Select">Random Type</option>
                <option value="education">education</option>
                <option value="charity">charity</option>
                <option value="recreational">recreational</option>
                <option value="busywork">busywork</option>
                <option value="social">social</option>
                <option value="diy">diy</option>
                <option value="music">music</option>
            </select>
            <select name="participants" class="form-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button type="submit" class="form-submit">Go</button>
        </form> 



        <section id="cards" class="cards">
            <article class="card-item">
                <h2 class="card-activity">

                </h2>
                <div class="card-info">
                    <span class="card-type">
      
                     
                    </span>
                    <span class="card-participants">
       
                        <span class="card-number"></span>
                    </span>
                </div>
            </article>


        </section>
    </div>
</body>
</html>